<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:cache="http://www.springframework.org/schema/cache"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-3.2.xsd
	http://www.springframework.org/schema/mvc
	http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd">

	<!-- 开启注解 -->
	<mvc:annotation-driven>
		<!-- 避免IE执行AJAX时,返回JSON出现下载文件 -->
	    <mvc:message-converters register-defaults="false">
	        <bean class="org.springframework.http.converter.ByteArrayHttpMessageConverter" />
	        <bean class="org.springframework.http.converter.StringHttpMessageConverter">
	            <property name="supportedMediaTypes" value="text/plain;charset=UTF-8" />
	        </bean>
	        <bean class="org.springframework.http.converter.json.MappingJacksonHttpMessageConverter">
	            <property name="supportedMediaTypes" value="text/plain;charset=UTF-8" />
	        </bean>
	    </mvc:message-converters>
	</mvc:annotation-driven>

	<!-- 注解扫描包, 只扫描 @Controller -->
	<context:component-scan base-package="com.mrshen.cvapp.scut.controller" use-default-filters="false">
 		<context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
	</context:component-scan>
</beans>
